<div submittable>

    <div class="modal-body">
        <p class="text-center" ng-show="!encrypting_voucher">Insira uma senha para encriptar seu mnemônico</p>
        <p class="text-center" ng-show="encrypting_voucher">Insira uma senha para encriptar o voucher.</p>
        <p class="label-warning" ng-show="encrypting_voucher">Se você utilizar uma senha diferente da que você utilizou ao criar o voucher, a mensagem do voucher (se houver) não será mostrada na URL do voucher. 
       <!--  If you use a different password from the one used when you created the voucher, the clear text voucher message (if any) will not be displayed at the voucher URL. --></p>
        <hr>
        <form ng-submit="encrypt_password_modal.encrypt()" name="form" class="form-horizontal">
            <div class="form-group" ng-class="{'has-error': encrypt_password_modal.error}">
                <label for="passwordId" class="col-sm-5 control-label">Senha</label>
                <div class="col-sm-4">
                    <input clickfix class="form-control" focus-on="encryptPasswordModal" type="password"
                           ng-model="encrypt_password_modal.password" id="passwordId"
                           ng-disabled="encrypt_password_modal.encrypting" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': encrypt_password_modal.error}">
                <label for="passwordRepeatedId" class="col-sm-5 control-label">Confirma a senha</label>
                <div class="col-sm-4">
                    <input clickfix class="form-control" type="password"
                           ng-model="encrypt_password_modal.password_repeated" id="passwordRepeatedId"
                           ng-disabled="encrypt_password_modal.encrypting" />
                    <input type="submit" class="hide" submitter ng-disabled="encrypt_password_modal.encrypting" />
                    <div class="help-block" ng-show="encrypt_password_modal.error"><i class="glyphicon glyphicon-info-sign"></i> (( encrypt_password_modal.error ))</div>
                    <div class="help-block" ng-show="encrypt_password_modal.encrypting"><i class="glyphicon glyphicon-info-sign"></i> Aguarde, encriptando...</div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()" ng-disabled="encrypt_password_modal.encrypting">Cancelar</button>
            <button class="btn btn-primary" ng-click="submit_me()" ng-disabled="encrypt_password_modal.encrypting">Encriptar</button>
        </div>
    </div>

</div>