<div class="create-modal-backdrop"></div>
<div class="create-modal">
   <div class="create-modal-dialog">
      <div class="create-modal-content" submittable>
         <div class="create-modal-header">
            Passo <span ng-hide="signup.trezor_detected">4</span><span ng-show="signup.trezor_detected">3</span> de <span ng-hide="signup.trezor_detected">4</span><span ng-show="signup.trezor_detected">3</span>
            <div class="progress">
               <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%"></div>
            </div>
         </div>
         <div class="create-modal-body">
            <div class="title">Configuração da carteira realizada com sucesso!<br><small>Efetue seu cadastro na coinBR.net e desfrute dos benefícios e serviços oferecidos. Pague boletos, recarregue o seu celular utilizando bitcoins, confira!</small></div>
            <hr>
            <!--
            <div class="text-center">
               <!--  ng-disabled="signup.fbloginstate.synchronized" 

               <button ng-click="signup.customlogin()" class="btn btn-default" ng-class="{'btn-sync':signup.customloginstate.synchronized}" ng-disabled="signup.customloginstate.synchronized"><i class="glyphicon glyphicon-lock"></i> Personalizado</button>
            </div>
            -->
            <hr>
            <!--   <p>Voce pode entrar em sua wallet por via do modo de Observação, por meio de um login simples. Neste processo você tem acesso a uma àrea totalmente separada de sua wallet, sendo impossível o comprometimento da segurança além de pagamentos não poderem ser realizados</p>
               <p>Use seu email ou nome do Facebook para receber pagamentos! Não use mais longos e complicados endereços para lembrar e comunicar. Isso significa que você pode entrar na sua wallet seguramente de qualquer wi-fi ou até mesmo do starbucks!</p> -->

            <div class="row" ng-show="lastFormHidden">
              <h4 class="modal-title">Obrigado</h4>
              <div class="col-md-12">
      					<br>
      					Seu cadastro foi realizado com sucesso!<br><br>
      					Por favor verifique seu e-mail e confirme sua conta para finalizar o processo.
      				</div>
            </div>
            <div class="row" ng-hide="lastFormHidden">
               <div class="col-xs-12 col-sm-12 col-md-12">
                  <form role="form" class="form-horizontal" ng-submit="" style="margin:5px 0;">
                     <div class="form-group">
                        <label class="col-sm-4 control-label">Nome</label>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                           <input class="form-control" ng-model="objUserInCoinBR.name"
                              id="nameSingup4" type="text" name="nome" required="required"
                              placeholder="Insira o seu Nome"  />
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-4 control-label">Email</label>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                           <input class="form-control" ng-model="objUserInCoinBR.email"
                              id="emailSingup4" type="email" name="email" required="required"
                              placeholder="Insira o seu email"  />
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-4 control-label">Senha</label>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                           <input class="form-control" ng-model="objUserInCoinBR.password"
                              id="passwordSignUp4" type="password" name="senha" required="required"
                              placeholder="Insira o sua senha"  />
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-4 control-label">Confirmar Senha</label>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                           <input class="form-control" ng-model="objUserInCoinBR.confirmPassword"
                              id="confirmPasswordSingup4" type="password" name="confirma-senha" required="required"
                              placeholder="Confirme sua senha"  />
                        </div>
                     </div>
                     </br>
                     <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                           <input type="checkbox" checked="checked" ng-model="objUserInCoinBR.newsletter"  > Gostaria de receber a newsletter da coinBR    </br>
                           <input type="checkbox" ng-model="objUserInCoinBR.terms"  ng-disabled="signup.hw_wallet_processing"> Li e aceito os
                           <a href="" onclick="window.open('', '_blank', 'location=no'); return false">Termos e Condições de Uso</a>
                        </div>
                     </div>
                     <input type="button" class="btn btn-lg btn-success" style="margin-top:15px; margin-bottom:0;" value="Cadastrar" ng-click="registerInCoinBR()" />
                  </form>
               </div>
            </div>
         </div>
         <div class="create-modal-footer">
            <a class="btn btn-primary btn-block-xs" href="#/send#content_container" ng-hide="signup.any_twofac_done" ng-class="{disabled:signup.social_in_progres}">
            <span ng-hide="signup.social_in_progress">Me leve à minha wallet!</span>
            <span ng-show="signup.social_in_progress">Processando...</span>
            </a>
         </div>
      </div>
   </div>
</div>
