
<div >
    <ul rn-carousel rn-carousel-indicator="true" rn-carousel-auto-slide="3" style="width:100%;height:130px">
        <li ng-repeat="bannerCMS in banners">
             <img id="firstImage" src="((bannerCMS.banner))" style="box-shadow: 0px 1px 5px 1px #888888;width:100%">
            
            
            
        </li>
    </ul>
    
</div>
<div class="page" ng-init="imgResize()">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6" style="padding-right:5px">
            <a href="#/send">
                <img src="../static/img/ENVIAR_HOME.svg" style="width: 100%">
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:5px">
            <a href="#/receive">
                <img src="../static/img/RECEBER_HOME.svg" style="width: 100%">
            </a>
            
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12" style="padding-top:10px">
            <a href="#/mercado">
                <img src="../static/img/MERCADO.svg" style="width: 100%;">
            </a>
            
        </div>
    </div> 

  
    <hr style="margin-top:13px; margin-bottom:10px;"/>
<div class="container-fluid">
<div class="row">
    <div class="col-xs-6 col-sm-6" style="background-image: url(../static/img/vendemos.svg); background-repeat: no-repeat;  height:65px; text-align: center; vertical-align: middle; ">
         <div style="font-weight:bold; height:30px; margin-top:12%;">R$ ((coinBR.precoFixoCompra | number:2)) </div>
    </div>
    <div class="col-xs-6 col-sm-6" style=" background-image: url(../static/img/compramos.svg); background-repeat: no-repeat;   
    height:65px;text-align: center; vertical-align: middle;">
        <div style="font-weight:bold; height:30px; margin-top:12%; "> R$ ((coinBR.precoFixoVenda | number:2)) </div>
    </div>
</div>
</div>

  

<!-- <div style="margin:auto;color:#FFF;background:#333;border-radius:5px 5px 0px 0px;width:auto;text-align:center"> Compramos por: R$ ((coinBR.precoFixoVenda | number:2)) </div> 

<div style="margin:auto;color:#FFF;background:#333;border-radius:0px 0px 5px 5px;width:auto;text-align:center"> Vendemos por: R$ ((coinBR.precoFixoCompra | number:2)) </div> -->
</div>



