<img src="../static/img/ReceberBAR.svg" style="width: 100%">
<div class="page">
  <div class="row hidden-xs hidden-sm" style="padding:15px">
    <div class="col-md-12">
      <div class="header">
        Receive Money<span class="balance pull-right" ng-include="'../'+LANG+'/wallet/partials/wallet_balance.html'"></span>
      </div>
    </div>
    <hr class="double">
  </div>
  <div class="row">
    <div class="col-md-12">
      <form role="form" class="form-horizontal">
        <div class="form-group" ng-show="wallet.subaccounts.length">
          <label class="col-sm-2 control-label" for="amount">Account</label>
          <div class="col-sm-10">
            <select class="form-control" ng-model="wallet.current_subaccount" ng-options="subwallet.pointer as subwallet.name for subwallet in [{pointer: 0, name: 'Main'}].concat(wallet.subaccounts)" style="float: right;">
            </select>
          </div>
        </div>
        <div class="form-group" ng-show="receive.advanced_options_visible">
          <label class="col-sm-2 control-label" for="amount">Amount</label>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-xs-6 col-sm-5 col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">(( wallet.unit ))</span>
                  
                      <input class="form-control" type="number" ng-model="receive.amount" placeholder="0.0000" ng-show="cordova_platform=='ios'" />
                      <input class="form-control" type="tel" ng-model="receive.amount" placeholder="0.0000" ng-hide="cordova_platform=='ios'" />
                  
                </div>
              </div>
              <div class="col-xs-6 col-sm-5 col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">(( wallet.fiat_currency ))</span>
                  
                      <input class="form-control" type="number" ng-model="receive.amount_fiat" placeholder="0.0000" ng-show="cordova_platform=='ios'" />
                      <input class="form-control" type="tel" ng-model="receive.amount_fiat" placeholder="0.0000" ng-hide="cordova_platform=='ios'" />
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="double" ng-show="receive.advanced_options_visible">
        <div class="form-group">
          <div class="col-sm-10">

            <b>R$ <i class="fa fa-arrow-right"></i> BTC</b>
           <span class="input-group">
            <span class="input-group-addon">R$ &nbsp;&nbsp; </span>
              <input ng-change="atualizarValorReceberBTC()" class="form-control" ng-model="receber.valorEmRS" type="tel"  placeholder="0.00" ng-hide="cordova_platform=='ios'" />
              <input ng-change="atualizarValorReceberBTC()" class="form-control" ng-model="receber.valorEmRS" type="number"  placeholder="0.00" ng-show="cordova_platform=='ios'" />
          </span>
          <br>
          <span class="input-group">
              <span class="input-group-addon">BTC</span>
                <input  ng-change="atualizarValorReceberRS()" class="form-control" type="tel" ng-model="receber.valorEmBTC" placeholder="0.000000" ng-hide="cordova_platform=='ios'" />

                <input ng-change="atualizarValorReceberRS()" class="form-control" type="number" ng-model="receber.valorEmBTC" placeholder="0.000000" ng-show="cordova_platform=='ios'" />
          </span>
          

          <label class="col-sm-2 control-label" for="amount">Bitcoin URI</label>
          <div class="col-sm-10">
            <p class="form-control-static payment-url break-all" style="display:inline-block; font-size:12px;">
                <a href="((receive.bitcoin_uri))" onclick="return false;">((receive.bitcoin_uri))</a>
            </p>
            <div class="">
              <button class="btn btn-info btn-block-xs" ng-click="show_bitcoin_uri()" ng-hide="receive.bitcoin_uri" style="width:100%">Ver endereço URI</button>
      
      <button class="btn btn-info btn-block-xs" ng-click="copy_to_clipboard(receive.bitcoin_address)" ng-hide="!receive.bitcoin_uri" style="width:100%"><i class="glyphicon glyphicon-transfer"></i>Copiar</button>
      
              <a class="btn btn-default btn-block-xs" ng-click="show_bitcoin_uri(true)"><i class="glyphicon glyphicon-qrcode"></i> QR code</a>
              <br>
              <!-- <span style="text-align: justify">
              Você também pode gerar um QR code com o valor selecionado em BTC acima para agilizar a transação. Obs: Funciona somente entre usuários da coinBR Wallet.
              </span>
              <br>
              <br>
              <a class="btn btn-default btn-block-xs" ng-click="show_bitcoin_uri2(true)"><i class="glyphicon glyphicon-qrcode"></i> QR code com valor</a> -->
            </div>
          </div>
        </div>



        

        <!-- <div class="form-group" ng-show="receive.bitcoin_uri">
          <label class="col-sm-2 control-label" for="amount">Address</label>
          <div class="col-sm-10">
            <p class="form-control-static payment-url break-all" style="display:inline-block;">
                ((receive.bitcoin_address))
            </p>
          </div>
        </div> -->
        <!-- <hr ng-show="receive.advanced_options_visible">
        <div class="form-group" ng-show="receive.advanced_options_visible">
          <label class="col-sm-2 control-label" for="amount">Permanent Payment URL</label>
          <div class="col-sm-10">
            <p class="form-control-static payment-url break-all" style="display:inline-block;">
                <a href="((receive.payment_url))" onclick="return false;">((receive.payment_url))</a>
            </p>
            <div class="pull-right">
      
      <button class="btn btn-info btn-block-xs" ng-click="copy_to_clipboard(receive.payment_url)"><i class="glyphicon glyphicon-transfer"></i>Copy to clipboard</button>
      
              <a class="btn btn-default btn-block-xs" ng-click="show_url_qr(receive.payment_url)"><i class="glyphicon glyphicon-qrcode"></i> Show QR Code</a>
            </div>
          </div>
        </div>
        <div ng-show="receive.show_sweep && receive.advanced_options_visible">
          <hr>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="id_privkey_wif">Private key in WIF or BIP38 format</label>
            <div class="col-sm-10">
              <div class="col-sm-12" style="padding-right: 0 !important">
                <div class="input-group">
                  <input ng-model="receive.privkey_wif" class="form-control" type="text" id="id_privkey_wif" placeholder="Enter a private key to sweep here" ng-disabled="receive.sweeping">
                  <span class="input-group-btn">
                    <span class="btn btn-default" ng-hide="scanning_qr_video" style="border-radius: 0 !important"><i class="glyphicon glyphicon-qrcode"></i>
                      Scan QR
                      <input style="opacity: 0; position: absolute; left: 0; top: 0; width: 100%; height: 100%" type="file" id="qrcodeinput_login" accept="image/*" capture="camera" ga-click-no-touch="receive.read_wif_qr_code($event)">
                    </span>
                    <a class="btn btn-default" ng-show="scanning_qr_video" ng-click="receive.stop_scanning_qr_code()" style="border-radius: 0 !important">Cancel</a>
                  </span>
                    <span class="input-group-btn">
                      <span class="btn btn-primary pull-right" ng-class="{disabled: receive.sweeping}"><i ng-hide="receive.sweeping" ng-if="!receive.sweeping">Sweep</i><div class="spin" ng-hide="!receive.sweeping" ng-if="receive.sweeping" ng-cloak></div>
                          <input type="button" tabindex="2" style="opacity: 0; position: absolute; left: 0; top: 0; width: 100%; height: 100%" ng-click="receive.sweep()" ng-focus="receive.sweep()" ng-disabled="receive.sweeping" />
                      </span>
                  </span>
                </div>
                <input ng-show="receive.is_bip38(receive.privkey_wif)" class="form-control" type="password" ng-model="receive.bip38_password" placeholder="BIP38 Password" ng-disabled="receive.sweeping" />
                
              </div>
            </div>
          </div> -->
        </div>
        <!-- <hr>
        <div class="pull-right" ng-show="receive.advanced_options_visible">
          <a class="btn btn-default btn-block-xs" ng-click="receive.show_previous_addresses()"><i class="glyphicon glyphicon-time"></i> Show previously generated addresses</a>
        </div>
        <div class="pull-right" ng-hide="receive.advanced_options_visible">
          <a class="btn btn-default btn-xs" ng-click="receive.advanced_options_visible = true"><i class="glyphicon glyphicon-wrench"></i> Show advanced options</a>
        </div> -->
      </form>
    </div>

    
  </div> 
</div> 