<div class="modal-body">

    <p ng-show="!receive.my_addresses.length">Não foram encontrados endereços</p>
    <table class="table" ng-show="receive.my_addresses.length">
        <tr><th>Endereço</th><th>Número de transações</th><th></th></tr>
        <tr ng-repeat="address in receive.my_addresses">
            <td>(( address.ad ))</td>
            <td>(( address.num_tx ))</td>
            <td>
                <div class="pull-right">
                    <a class="btn btn-default btn-block-xs" ng-click="show_myaddr_qrcode(address.ad)"><i class="glyphicon glyphicon-qrcode"></i></a>
                </div>
            </td>
        </tr>
    </table>

    <a href="" class="btn btn-default" ng-click="receive.show_more_addresses()" ng-show="receive.my_addresses.has_more" ng-disabled="is_loading">Mostrar mais endereços</a>
</div>

<div class="modal-footer">
    <div class="">
        <button class="btn btn-primary" ng-click="$dismiss()">Fechar</button>
    </div>
</div>