<div>

    <div class="modal-body">
    	<p class="text-center">Não foram encontrados servidores do Electrum. Eles são usados para verificar que nossos servidores estão transmitindo os dados de maneira correta.
        <!--  No Electrum servers are reachable. They are used to verify that our servers don't attempt misleading your client into spending wrong amount of money. --></p>
        <p class="text-center">Vôcê deseja continuar com a transação mesmo sem a verificação do Electrum?
        <!-- Do you want to continue sending the transaction without Electrum network verification? --></p>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
            <button class="btn btn-primary" ng-click="$close()">Continuar</button>
        </div>
    </div>

</div>