<div class="modal-header">
    Confirme os detalhes da transação
</div>

<div class="modal-body">
    <p>Confira se os detalhes estão corretos:</p>

    <dl>
        <dt>Beneficiário</dt>
        <dd>(( tx.recipient ))</dd>
    </dl>

    <dl>
        <dt>Quantidade</dt>
        <dd>(( tx.value | format_btc:wallet.unit ))</dd>
    </dl>

    <dl>
        <dt>Taxa</dt>
        <dd>(( tx.fee | format_btc:wallet.unit ))</dd>
    </dl>
</div>

<div class="modal-footer">
    <div class="">
        <button class="btn btn-default" ng-click="$dismiss()">Cancelar</button>
        <button class="btn btn-primary" ng-click="$close()">Enviar Transação</button>
    </div>
</div>