<img src="../static/img/agenda.svg" style="width: 100%">

<div class="row hidden-xs hidden-sm">
  <div class="col-md-12">
    <div class="header">
      Agenda<span class="balance pull-right" ng-include="'../'+LANG+'/wallet/partials/wallet_balance.html'"></span>
    </div>
  </div>
</div>
<div ng-controller="AddressBookController">
<br>
<div class="row" ng-show="wallet.hdwallet.priv || wallet.trezor_dev || wallet.btchip">
  <div class="col-md-12">
    <div class="header-options">
      <a href="" ng-click="add()"><i class="glyphicon glyphicon-plus-sign"></i> Adicionar novo contato</a>
    </div>
  </div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped" id="id_addressbook">
			<thead>
				<th></th>
				<th><a href="">Nome</a></th>
				<th><a href="">Endereço</a></th>
				<th ng-show="wallet.hdwallet.priv || wallet.trezor_dev || wallet.btchip"></th>
			</thead>
	  
			<tbody>
				<!-- TODO: move to modal -->
				<tr ng-show="addressbook.new_item" submittable>
				<td></td>
				<td class="col-md-4"><form ng-submit="submit_me()" class="inline"><input type="text" class="form-control" required="required" ng-model="addressbook.new_item.name" focus-on="addrbook_new_item" /></form></td>
				<td class="col-md-4"><form ng-submit="save()" class="inline">
				<span class="input-group">
					<input type="text" class="form-control" ng-model="addressbook.new_item.address" />
					<span class="input-group-btn">
						<span class="btn btn-default" ng-hide="scanning_qr_video">
							<i class="glyphicon glyphicon-qrcode"></i>
			                Scanear QR
			                <input style="opacity: 0; position: absolute; left: 0; top: 0; width: 100%; height: 100%" type="file" id="qrcodeinput_login" accept="image/*" capture="camera" ga-click-no-touch="read_qr_code($event)">
		                </span>
		                <a class="btn btn-default" ng-show="scanning_qr_video" ng-click="stop_scanning_qr_code()">Cancelar</a>
		            </span>
		        </span>
	            
				<input type="submit" class="hide" submitter />
				</form></td>
				<td><form><a href="" class="btn btn-default" ng-click="submit_me()">Salvar</a></form></td>
				</tr>
				<tr ng-class="{danger: item.name == route.name}" submittable addressbook-item ng-repeat="item in addressbook.partitions[route.page-1][2]"></tr>
				<tr ng-hide="addressbook.items.length || is_loading">
					<td colspan="5"><small class="text-muted"><i>Sua agenda está vazia</i></small></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ul class="pagination">
		  <li ng-class="{disabled: route.page == 1}">
		  	<a ng-hide="route.page == 1" ng-href="#/address-book/(( route.page - 1 ))">&laquo;</a>
		  	<a ng-show="route.page == 1" href="">&laquo;</a>
		  </li>
		  <li ng-class="{active: route.page == partition[0]}" ng-repeat="partition in addressbook.partitions"><a ng-href="#/address-book/(( partition[0] ))">(( partition[1] ))</a></li>
		  <li ng-class="{disabled: route.page == addressbook.partitions.length}">
		  	<a ng-hide="route.page == addressbook.partitions.length" ng-href="#/address-book/(( route.page + 1 ))">&raquo;</a>
		  	<a ng-show="route.page == addressbook.partitions.length" href="">&raquo;</a>
		  </li>
		</ul>
	</div>
</div>
</div>