<div submittable>

    <div class="modal-body">
    	<p class="text-center">(( ask_for_logout_text ))</p>
        <p class="text-center">Você deseja sair? </p>
    </div>

    <div class="modal-footer">
        <div class="">
            <button class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
            <button class="btn btn-primary" ng-click="$close()">Sair</button>
        </div>
    </div>

</div>