<img src="../static/img/informacoes.svg" style="width: 100%;">
<div class="page">
    <div class="row">
        <div class="col-md-12 logo-wallet-info-partials wallet-info-align">
            <img src="../static/img/coinBRWallet.svg" style="width: 40%;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-wallet-info-partials">
            <p class="destaque">A coinBR em parceria com a VYSE e utilizando como base a api da greenaddress desenvolveu a primeira carteira de bitcoins Brasileira.</p>
            <p>Envie e Receba bitcoins em qualquer lugar do mundo, facil como mandar um e-mail.</p>
            <p>Confira o preço em tempo real das exchanges nacionais</p>
            <div class="wallet-info-align">
              <img src="../static/img/vyse.svg" style="width: 30%;">

                    <br/><br/>
                    <a href="/about" onclick="window.open('https://bitbucket.org/douglaswar/wallet-coinbr', '_system');"><img src="../static/img/bit.png" style=" width:25px; " ></a>  - Desenvolvido por <a href="/about" onclick="window.open('http://vyse.work', '_system');" style="color:#b90c2a">VYSE.work</a><br/>
                     Feito com <span style="color:#b90c2a"><i class="fa fa-heart"></i></span> por um grupo de geeks.<br/>
                     Versão 0.72.0<br/>
                     Em caso de problemas com a app por favor envie um email para <a href="/about" onclick="window.open('mailto:wallet@coinbr.net', '_system');" >wallet@coinbr.net</a>


           </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="sub-header">Palavra chave</div>
            <div class="sub-header-desc">Exibir o texto de recuperação da copia de segurança.
          <!-- Display your mnemonic for account recovery or cloning on another device --></div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-warning btn-block-xs" ng-click="show_mnemonic()"><i class="glyphicon glyphicon-eye-open"></i> </button>
          <!--button class="btn btn-success btn-block-xs" ng-click="show_encrypted_mnemonic()"><i class="glyphicon glyphicon-lock"></i> Mostrar mnemônico encriptado</button-->

          <!-- <button ng-hide="cordova_platform=='ios'" class="btn btn-default btn-block-xs" ng-click="settings.nfcmodal()"><i class="glyphicon glyphicon-transfer"></i> Write to NFC tag</button>
          <button ng-hide="cordova_platform=='ios'" class="btn btn-default btn-block-xs" ng-click="settings.nfcmodal_encrypted()"><i class="glyphicon glyphicon-transfer"></i><i class="glyphicon glyphicon-lock"></i> Write encrypted to NFC tag</button> -->


        </div>
    </div>
</div>
