<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content">

            <div class="create-modal-header">
                <span class="pull-left">Já possui uma conta?
                    
                    <a href="" ng-click="logout()">Entre em sua wallet</a></span>
                    
                Passo 1 de <span ng-hide="signup.trezor_detected">4</span><span ng-show="signup.trezor_detected">3</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%"></div>
                </div>
            </div>

            <div class="create-modal-body" ng-show="signup.trezor_detected">
                <div class="title">Use o TREZOR para criar uma wallet<br>
                    <small ng-hide="signup.empty_trezor">Por favor, finalize essa configuração de 3 passos para proteger sua conta contra intrusos</small>
                    <small ng-show="signup.empty_trezor" ng-bind-html="signup.empty_mytrezor_message"></small>
                </div>

                <p style="text-align: center;">(Você também pode desconectar o TREZOR e recarregar esta página.)</p>
            </div>

            <div class="create-modal-body" ng-hide="signup.unexpected_error || signup.trezor_detected">
                <div class="title">Você agora é o mais novo dono de uma carteira bitcoin!<br>
                    <small>As palavras de segurança abaixo servem para recuperar a carteira em outros computadores, anote-as em lugar seguro.
                    </small>
                </div>
                <hr>
                <div class="mnemonic-label ng-cloak" ng-show="signup.mnemonic && !signup.mnemonic_encrypted">Palavras de recuperação</div>
                <div class="mnemonic-label ng-cloak" ng-show="signup.mnemonic && signup.mnemonic_encrypted">Seu <strong>mnemônico</strong> encriptado</div>
                <div class="mnemonic info ng-cloak" ng-show="signup.mnemonic_encrypted || signup.mnemonic">
                <span ng-bind="signup.mnemonic_encrypted || signup.mnemonic" ></span>
                
                </div>
                <div class="mnemonic info" ng-hide="signup.mnemonic">Gerando mnemônico...</div>
                <div ng-hide="signup.mnemonic_encrypted || cordova_platform=='ios'" class="row"><div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                    <a class="col-xs-12 btn btn-large btn-success" ng-class="{disabled: !signup.mnemonic}" ng-click="signup.encrypt_mnemonic()"><i class="glyphicon glyphicon-lock"></i>Clique para encriptar seu mnemônico</a>
                </div></div>
                <hr>
                <p>Não guardamos essas informações conosco, portanto não podemos te ajudar a recupera-las!</b></p>
            </div>

            <div class="create-modal-footer" ng-hide="signup.unexpected_error || signup.empty_trezor">
                <label for="checkbox-confirmation">
                    <input type="checkbox" ng-model="signup.secured_confirmed" id="checkbox-confirmation" ng-disabled="signup.hw_wallet_processing"> Eu confirmo que as palavras de segurança estão salvas em lugar seguro
                   <!-- 
                    <a href="" onclick="window.open('tos.html', '_blank', 'location=no'); return false">Termos de Uso</a>
                    -->
                    
                </label>
                <br>
                <!--
                <button class="btn btn-default btn-block-xs" ng-click="signup.qrmodal()" ng-class="{disabled:!signup.mnemonic}"><i class="glyphicon glyphicon-qrcode"></i>Mostrar QR Code</button>

                
                <button class="btn btn-default btn-block-xs" ng-hide="cordova_platform=='ios'" ng-click="signup.nfcmodal()" ng-class="{disabled:!signup.mnemonic}"><i class="glyphicon glyphicon-transfer"></i>Escrever tag NFC</button>
                
                
                
                <button tooltip="Warning: some printers store printed documents internally, so it can be insecure to print your mnemonic." class="btn btn-default btn-block-xs" onclick="window.print(); return false;" ng-class="{disabled:!signup.mnemonic}"><i class="glyphicon glyphicon-print"></i> Imprimir passphrase</button>
                 -->

                <a class="btn btn-primary btn-block-xs" ng-class="{disabled:!signup.mnemonic||!signup.secured_confirmed}" href="#/signup_2factor#content_container">Continuar!</a>
            </div>

            <div class="create-modal-footer" ng-show="signup.unexpected_error">
                <a class="btn btn-danger login-submit" href="" ng-click="signup.try_again()">
                    Error:  (( signup.unexpected_error )).  Clique para tentar de novo.
                </a>
            </button>
            </div>

        </div>
    </div>
</div>


<div class="printable">
    <h1><img src="/static/img/logos/logo-greenaddress.png" alt="GreenAddress"> CoinBR<br><small>https://coinbr.net</small></h1>
    <p>O mnemônico para acessar sua wallet é:</p>
    <div class="mnemonic noanimate">(( signup.mnemonic_encrypted || signup.mnemonic ))</div>
    <p ng-if="signup.mnemonic_encrypted">Este mnemônico está encriptado, portanto<br/> sua senha é necessária para usa-lo.</p>
    <qr ng-if="signup.mnemonic" class="qrcode" text="(( signup.mnemonic_encrypted || signup.mnemonic ))" size="212"></qr>
    <p><i class="glyphicon glyphicon-exclamation-sign"></i> <i>Guardar essa página em um local seguro</i></p>
</div>