<div class="alert alert-error" ng-show="nfc_error">
    Houve um problema escrevendo o NFC tag: (( nfc_error.reason ))
</div>
<div class="modal-body text-center" ng-show="!nfc_init_error && nfc_init_succeeded < 4">
    <p>Iniciando o NFC tag listener...</p>
</div>
<div class="modal-body text-center" ng-show="nfc_init_succeeded == 4">
    <p>Por favor segure sua tag perto do device para fazer a inserção de sua wallet.</p>
    <p>Tags escritas: (( num_tags_written ))</p>
    <p>Tags formatadas: (( num_tags_formatted ))</p>
</div>
<div class="modal-body text-center" ng-show="nfc_init_error">
    <p>Seu NFC não está ligado ou disponível, por favor habilete-o nas configurações.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="$close()">Fechar</button>
</div>