<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content" submittable>

            <div class="create-modal-header">
                Passo 2 de  <span ng-hide="signup.trezor_detected">4</span><span ng-show="signup.trezor_detected">3</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 50%"></div>
                </div>
            </div>

            <div class="create-modal-body">
                <div class="title">Termos de uso dos serviços da carteira coinBR<br><small>Leia com atenção:</small></div>
                <div ng-if="signup.logged_in" ng-controller="TwoFactorSetupController" ng-include="'../en/wallet/partials/wallet_2fa.html'"></div>
                <!--
                <div ng-hide="signup.logged_in" style="text-align: center">Por favor aguarde enquanto logamos você em sua nova carteira...</div>
                -->
                <hr class="double">

                <p>Ao utilizar os produtos, softwares, serviços ou cadastrar-se no site da CoinBR Serviços Digitais Ltda você concorda com os seguintes termos e condições:</p>

                <p>As informações e dados contidos neste site são somente para fins informativos gerais. As informações são fornecidas pela CoinBR Serviços Digitais Ltda, que se esforça para mantê-las atualizadas e corretas. Não autorizamos qualquer replicação dos nossos produtos, serviços e conteúdos. Não garantimos qualquer tipo de interpretação, expressa ou implícita, sobre a integridade, precisão, confiabilidade, adequação ou disponibilidade em relação ao site ou as informações, produtos, serviços ou gráficos relacionados contidos no site para qualquer finalidade. Caso você insista em utilizar estas informações é, portanto, estritamente a seu próprio risco.</p>

                <p>Em nenhum caso seremos responsáveis qualquer perda ou dano, incluindo, sem limitação, perda ou dano indireto ou consequente, ou qualquer perda ou dano resultante de qualquer perda de dados ou lucros decorrentes em conexão com o uso deste website.</p>

                <p>Todo esforço é feito para manter o site funcionando corretamente. No entanto, a CoinBR Serviços Digitais Ltda não assume nenhuma responsabilidade pelo site estar temporariamente indisponível devido a problemas técnicos fora do nosso controle.</p>

                <p>A CoinBR Serviços Digitais Ltda não se responsabiliza por qualquer perda financeira decorrente da utilização do nosso serviço de carteira, incluindo qualquer um dos seguintes:</p>

                <p>Perda financeira devido a dados da carteira, sendo "Brut Force" - descoberta de senhas/logins através de processos manuais ou automatizados;</p>

                <p>Perda financeira devido a uma falha de servidor ou perda de dados;</p>

                <p>Perda financeira devido a cortes de servidor ou indisponibilidade;</p>

                <p>Perda financeira devido as palavras de recuperação esquecidas;</p>

                <p>Perda financeira devido a dados corrompidos em nossos servidores;</p>

                <p>Perda financeira resultante de operações selecionadas incorretamente ou endereços de envio e recebimento digitados incorretamente;</p>

                <p>Perda financeira devido a "phishing" ou outros sites disfarçados de CoinBR.</p>

                <p>A CoinBR Serviços Digitais Ltda não opera como banco ou instituição financeira. Qualquer bitcoin armazenados na carteira de CoinBR Serviços Digitais Ltda não está no controle da CoinBR Serviços Digitais Ltda, nós simplesmente fornecemos uma interface para acessá-los. A CoinBR Serviços Digitais Ltda não tem controle sobre ou assume qualquer responsabilidade por quaisquer transações efetuadas através do nosso serviço de carteira.</p>

                <p>Este site refere-se a moeda virtual: bitcoin, como um título de crédito do qual a CoinBR Serviços Digitais Ltda não é o emissor. CoinBR Serviços Digitais Ltda não garante que o bitcoin pode ser trocado ao preço de compra. Quaisquer taxas de câmbio indicadas são fornecidos por serviços de terceiros e não são indicativos de que o bitcoin pode ser equivalente com qualquer mercadoria ou outra forma de dinheiro ou ter qualquer outro valor tangível.</p>


           <!--
                <p>Nós precisamos que você verifique sua conta em duas etapas, isso fara com que sua carteira se torne muito mais segura e te possibilitará usar algumas funcionalidades como Limites de gasto e pagamentos atrasados.</p>
                <p>Para emitir uma transação você não terá que somente fazer o login em sua wallet, mas também confirma-lo com um código enviado via email, SMS ou google authenticator à sua escolha.</p>
                -->
            </div>



     
             <div class="create-modal-footer" ng-hide="signup.unexpected_error || signup.empty_trezor">
                <label for="checkbox-confirmation">
                    <input type="checkbox" ng-model="signup.secured_confirmed" id="checkbox-confirmation" ng-disabled="signup.hw_wallet_processing"> Eu estou de concordo com os Termos de Serviço acima   
                </label>

                <a class="btn btn-primary btn-block-xs" ng-class="{disabled:!signup.mnemonic||!signup.secured_confirmed}" href="#/signup_pin#content_container">
                Continuar
                </a>


                 <!--
                <a ng-show="signup.noLocalStorage || signup.has_btchip || signup.has_trezor" href="#/signup_oauth#content_container" class="noanimate btn btn-primary btn-block-xs pull-right" ng-class="{disabled:signup.twofac_in_progress || signup.seed_progress < 100 || !signup.logged_in || signup.login_failed || !wallet.twofac.any}">Continuar!</a>
                -->
            </div>
 <!--

            <div class="create-modal-footer">
                <span class="btn btn-link btn-block-xs pull-left disabled" ng-show="signup.seed_progress < 100">
                    Gerando as chaves da sua carteira ... (( signup.seed_progress ))%
                </span>
                <span class="btn btn-link btn-block-xs pull-left disabled" ng-show="signup.seed_progress == 100 && !signup.logged_in && !signup.login_failed">
                    Por favor aguarde, logando...
                </span>
                <a ng-hide="signup.noLocalStorage || signup.has_btchip || signup.has_trezor" href="#/signup_pin#content_container" class="noanimate btn btn-primary btn-block-xs pull-right" ng-class="{disabled:signup.twofac_in_progress || signup.seed_progress < 100 || !signup.logged_in || signup.login_failed || !wallet.twofac.any}">
                    Continue!
                </a>
                <a ng-show="signup.noLocalStorage || signup.has_btchip || signup.has_trezor" href="#/signup_oauth#content_container" class="noanimate btn btn-primary btn-block-xs pull-right" ng-class="{disabled:signup.twofac_in_progress || signup.seed_progress < 100 || !signup.logged_in || signup.login_failed || !wallet.twofac.any}">
                    Continue!
                </a>
            </div>
            -->
            

        </div>
    </div>
</div>