<div class="modal-body text-center">
    <p>O código QR contendo seu mnemônico para acessar a carteira é:</p>
    <p><qr text="(( signup.mnemonic_encrypted || signup.mnemonic ))" size="212"></qr></p>
    <p><b><i class="glyphicon glyphicon-exclamation-sign"></i> Lembre-se de guarda-lo em um local seguro!</b></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="$close()">Fechar</button>
</div>