<img src="../static/img/termos.svg" style="width: 100%;">
<div class="page">
    <div class="row">
        <div class="col-md-12 logo-wallet-info-partials wallet-info-align">
            <img src="../static/img/coinBRWallet.svg" style="width: 40%;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-wallet-info-partials">
            <p>
              <p class="destaque">Termos de Uso</p>

              <p>Ao utilizar os produtos, softwares, serviços ou cadastrar-se no site da CoinBR Serviços Digitais Ltda você concorda com os seguintes termos e condições:</p>

              <p>As informações e dados contidos neste site são somente para fins informativos gerais. As informações são fornecidas pela CoinBR Serviços Digitais Ltda, que se esforça para mantê-las atualizadas e corretas. Não autorizamos qualquer replicação dos nossos produtos, serviços e conteúdos. Não garantimos qualquer tipo de interpretação, expressa ou implícita, sobre a integridade, precisão, confiabilidade, adequação ou disponibilidade em relação ao site ou as informações, produtos, serviços ou gráficos relacionados contidos no site para qualquer finalidade. Caso você insista em utilizar estas informações é, portanto, estritamente a seu próprio risco.</p>

              <p>Em nenhum caso seremos responsáveis qualquer perda ou dano, incluindo, sem limitação, perda ou dano indireto ou consequente, ou qualquer perda ou dano resultante de qualquer perda de dados ou lucros decorrentes em conexão com o uso deste website.</p>

              <p>Todo esforço é feito para manter o site funcionando corretamente. No entanto, a CoinBR Serviços Digitais Ltda não assume nenhuma responsabilidade pelo site estar temporariamente indisponível devido a problemas técnicos fora do nosso controle.</p>

              <p>A CoinBR Serviços Digitais Ltda não se responsabiliza por qualquer perda financeira decorrente da utilização do nosso serviço de carteira, incluindo qualquer um dos seguintes:</p>

              <ul>
                <li>Perda financeira devido a dados da carteira, sendo "Brut Force" - descoberta de senhas/logins através de processos manuais ou automatizados; </li>
                <li>Perda financeira devido a uma falha de servidor ou perda de dados;</li>
                <li>Perda financeira devido a cortes de servidor ou indisponibilidade;</li>
                <li>Perda financeira devido a mnemônicos esquecidos;</li>
                <li>Perda financeira devido a dados corrompidos em nossos servidores;</li>
                <li>Perda financeira resultante de operações selecionadas incorretamente ou endereços de envio e recebimento digitados incorretamente;</li>
                <li>Perda financeira devido a "phishing" ou outros sites disfarçados de CoinBR.</li>
              </ul>

              <p>A CoinBR Serviços Digitais Ltda não opera como banco ou instituição financeira. Qualquer bitcoin armazenados na carteira de CoinBR Serviços Digitais Ltda não está no controle da CoinBR Serviços Digitais Ltda, nós simplesmente fornecemos uma interface para acessá-los. A CoinBR Serviços Digitais Ltda não tem controle sobre ou assume qualquer responsabilidade por quaisquer transações efetuadas através do nosso serviço de carteira. </p>

              <p>Este site refere-se a moeda virtual: bitcoin, como um título de crédito do qual a CoinBR Serviços Digitais Ltda não é o emissor. CoinBR Serviços Digitais Ltda não garante que o bitcoin pode ser trocado ao preço de compra. Quaisquer taxas de câmbio indicadas são fornecidos por serviços de terceiros e não são indicativos de que o bitcoin pode ser equivalente com qualquer mercadoria ou outra forma de dinheiro ou ter qualquer outro valor tangível.</p>
        </div>
    </div>
</div>
